* {
  align-items: center;
  justify-content: center;
}
.header_top {
  text-align: center;
  color: rgb(82, 172, 255);
  background-color: white;
  background-color: rgb(242, 251, 255);
}
.header_top h1 {
  margin-top: 0;
  padding-bottom: 15px;
}
.header_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.header_button button {
  outline: none;
  box-shadow: 2px 3px 5px grey;
}
.header_button button:focus {
  background-color: white;
  color: rgb(3, 112, 214);
}
.daily_wrap {
  text-align: center;
  border: 1px solid #2e86de;
  margin: 50px 15%;
  border-radius: 20px;
  background-color: rgb(82, 172, 255);
  color: white;
  padding: 22px;
  box-shadow: 2px 3px 5px grey;
}
.wrap_shape {
  padding: 30px 30px;
  border: 1px solid #71dcfd;
  margin: 0 30%;
  transform: rotate(45deg);
  margin-top: 20px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
  background-color: rgb(82, 172, 255);
}
.wrap_shape1 {
  padding: 30px 30px;
  border: 1px solid #71dcfd;
  margin: 0 66%;
  transform: rotate(45deg);
  margin-top: 20px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
  background-color: rgb(82, 172, 255);
}
.monthly_wrap {
  text-align: center;
  border: 1px solid #2e86de;
  margin: 50px 15%;
  border-radius: 20px;
  background-color: rgb(82, 172, 255);
  color: white;
  padding: 22px;
  box-shadow: 2px 3px 5px grey;
}
.button_toplamlar button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 150px;
  background-color: rgb(82, 172, 255);
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  font-size: large;
  border-color: rgb(82, 172, 255);
  outline: none;
}
.button_toplamlar button:hover {
  background-color: white;
  color: rgb(82, 172, 255);
  border: 2px solid rgb(82, 172, 255);
  cursor: pointer;
}
.button_toplamlar button:focus {
  background-color: white;
  color: rgb(82, 172, 255);
}
.button_toplamlar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_toplamlar_non {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_toplamlar_non button {
  background-color: rgb(82, 172, 255);
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  font-size: large;
  border-color: rgb(82, 172, 255);
  outline: none;
}
.non_stop_monthly_wrap {
  text-align: center;
  text-align: center;
  border: 1px solid #2e86de;
  margin: 50px 15%;
  border-radius: 20px;
  background-color: rgb(82, 172, 255);
  color: white;
  padding: 22px;
  box-shadow: 2px 3px 5px grey;
}
.box_item:hover {
  transform: scale(1.03);
}
.box_item {
  border-radius: 8px;
  cursor: pointer;
  border: 0.1px solid white;
  padding: 10px;
  transition: all 0.2s ease-in;
}
.footer_img img {
  height: 280px;
  width: 100%;
  position: absolute;
}
.footer_text {
  display: flex;
  position: relative;
  padding: 40px;
  text-align: center;
}
.footer_left {
  width: 50%;
  float: left;
  padding: 10px;
  color: rgb(189, 203, 250);
}
.footer_right {
  width: 50%;
  float: right;
  padding: 10px;
  color: rgb(189, 203, 250);
}

.clr {
  clear: both;
}
.header_button button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: large;
  border-color: rgb(3, 112, 214);
  transition: all 0.2s ease-in;
  color: white;
  background-color: rgb(3, 112, 214);
}
/* .header_button button:hover {
  background-color: white;
  color: rgb(82, 172, 255);
  border: 2px solid rgb(82, 172, 255);
} */

.header_button button:focus {
  background-color: rgb(82, 172, 255);
  color: white;
}
.wrap_shape_non {
  padding: 30px 30px;
  border: 1px solid #71dcfd;
  margin: 0 48%;
  transform: rotate(45deg);
  margin-top: 20px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
  background-color: rgb(82, 172, 255);
}
@media (max-width: 767px) {
  .footer_img img {
    height: 50%;
    object-fit: cover;
    width: 100%;
  }
  .footer_img {
    overflow-x: hidden;
  }
  .footer_text {
    display: flex;
    position: relative;
    /* padding: 40px; */
    padding-top: 20px;
  }
  .button_toplamlar button {
    margin: 0 20px;
  }
  .wrap_shape_non {
    margin: 0 45%;
    padding: 30px 30px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .button_toplamlar button {
    margin: 0 30px;
  }
}

@media (max-width: 480px) {
  .footer_text {
    padding: 0;
    text-align: left;
    padding-top: 45px;
  }
  .footer_text h1 {
    font-size: 20px;
  }
  .footer_text p {
    font-size: 14px;
  }
  .footer_left,
  .footer_right {
    padding: 0px;
  }
  .footer_left {
    margin: 0 10px;
  }
  .button_toplamlar button {
    margin: 0 5px;
    padding: 5px;
  }
  .wrap_shape1 {
    margin: 0 56%;
    margin-top: 20px;
  }
  .header_button button {
    padding: 10px 10px;
    margin: 0 20px;
  }
}
.box_item a {
  color: white;
  text-decoration: none;
}
